$blackBtnColor: black;
$rainbowBtnColor: linear-gradient(to right, red, orange, yellow, green, blue, teal, indigo, purple);
$linearTransitionColor: linear-gradient(90deg, #E94584, #24AADB, #27DBB1, #FFDC18, rgb(255, 153, 0), rgb(182, 47, 47));
$lightGradientBtnBackgroundColor: linear-gradient(to right, black, white);
$darkGradientBtnBackgroundColor: linear-gradient(to right, white, black);
$newOrClearGridBackgroundColor: white;
$propagateBtnBackgroundColor: darkred;
$backgroundFontWhite: white;
$SupportingColor: #44c2fc;
