$rainbow: linear-gradient(to right, red, orange, yellow, green, blue, teal, indigo, purple);
$linearColorTransition: linear-gradient(90deg, #E94584, #24AADB, #27DBB1, #FFDC18, rgb(255, 153, 0), rgb(182, 47, 47));

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
}

html {
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
}

.btn {
    font-size: 0.4rem;
    padding: 0.1rem;
    border-radius: 8px;
}

#blackBtn {
    background-color: black;
    color: white;
}

#rainbowBtn {
    background: $rainbow;
    color: white;
}

#transparentBtn {
    background: $linearColorTransition;
    background-size: 1000% 100%;
    animation: gradientBG 60s linear infinite;
    color: white;
}

#lightGradientBtn {
    background: linear-gradient(to right, black, white);
    color: white;

}

#darkGradientBtn {
    background: linear-gradient(to right, white, black);
    color: white;

}

#clearBtn {
    background-color: white;
    color: #44c2fc;
}

#newGridBtn {
    background-color: white;
    color: #44c2fc;
}

.container {
    display: grid;
    width: 44vmax;
    height: 55vh;
    margin-top: 1.5vh;
    border: 1px solid black;
    background: linear-gradient(90deg, #E94584, #24AADB, #27DBB1, #FFDC18, rgb(255, 153, 0), rgb(182, 47, 47));
	background-size: 1000% 100%;
    animation: gradientBG 60s linear infinite;
}

.box {
    margin: 0;
    border: .5px solid #44c2fc;
    transition: all .75s ease;
    border-radius: .12rem;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
    }
    25% {
        background-position: 50% 50%;
    }
    50%{
		background-position: 100% 100%;
    }
    51% {
        background-position: 98% 98%;
    }
	100% {
		background-position: 0% 0%;
	}
}
